<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Block Auction</title>
    <meta name="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- build:css(.) styles/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css(.tmp) styles/interface.css-->
    <link rel="stylesheet" href="styles/sass/interface.css">
    <link type="text/css" rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css">
    <link rel="stylesheet" href="scripts/ext/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="scripts/ext/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abel&amp;effect=fire|3d-float" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- endbuild-->
    <script data-main="scripts/boot.js" src="scripts/ext/require.js"></script>
    <base href="/">
  </head>
  <body>
    <!--if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    -->
    <div class="header font-effect-3d-float">
      <div role="navigation" class="navbar navbar-default">
        <div class="inner">
          <div class="navbar-header"><a href="/" class="navbar-brand"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Block Auction"></a></div>
          <div class="collapse">
            <div class="menu"><a ng-click="toggleMenu()">=</a></div>
            <ul id="menu" ng-show="showMenu" ng-class="{ 'visible': !showMenu }" class="nav navbar-nav">
              <li class="active"><a ng-click="scrollTo('why')">Overview</a></li><!--li a(ng-click="scrollTo('how')") How it works -->
              <li><a ng-click="scrollTo('success')">Latest Bid</a></li>
              <li><a ng-click="scrollTo('faq')">Bid Reel</a></li><!--li a(ng-href='/services/chat') Chat -->
              <!--<li><a ng-click="scrollTo('roi')">Sell Bitcoin 2 ($534.34 USD)</a></li>-->
              <li><a ng-hide-auth ng-href='/pages/login'>Login</a>
              <a ng-show-auth href='/pages/account'>Account</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-view=""></div>
    </div>
    <div class="footer">
      <div class="container">
        <ul>
          <li><a href="/page/sitemap">Sitemap</a></li>
          <li><a href="/page/privacy-policy">Privacy Policy</a></li>
          <li><a href="/page/terms-of-service">Terms of Service</a></li>
        </ul>
        <p><span class="fa fa-heart"></span> <a href="http://blockauction">Block Auction</a>. &copy; All Rights Reserved.</p>
      </div>
    </div>
    <!--if lt IE 9
    script(src='scripts/ext/es5-shim.js')
    script(src='scripts/ext/json3.js')
    -->
    <!-- build:js(.) scripts/vendor.js-->
    <!-- bower:js-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:js({.tmp,app}) scripts/scripts.js-->
    <!-- endbuild-->
    <!-- @exclude-->
    <!--<script type="text/javascript" src="http://localhost:8080/livereload.js?snipver=1"></script>-->
    <!-- @endexclude-->
  </body>
</html>
