@charset "UTF-8";
/* line 1, ../ext/organic-css/src/atoms/_display.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, .container, footer, .header a, .journal .header a,
.journal [class^="header"] a,
.journal [class*=" header"] a, .header h1 small, .journal .header h1 small,
.journal [class^="header"] h1 small,
.journal [class*=" header"] h1 small, .content .content-column-left, .content .content-column-right {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../ext/organic-css/src/atoms/_display.scss */
.content h3:before {
  display: inline-block;
}

/* line 1, ../ext/organic-css/src/atoms/_text.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1, .header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2, .big-title, .content h3, .content p, .content pre, .content ul {
  font-weight: normal;
}

/* line 4, ../ext/organic-css/src/atoms/_text.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, .header h1 small, .journal .header h1 small,
.journal [class^="header"] h1 small,
.journal [class*=" header"] h1 small, .content h4 {
  font-weight: bold;
}

/* line 7, ../ext/organic-css/src/atoms/_text.scss */
.content .content-column-left {
  font-style: italic;
}

/* line 10, ../ext/organic-css/src/atoms/_text.scss */
a {
  text-decoration: underline;
}

/* line 13, ../ext/organic-css/src/atoms/_text.scss */
a:hover {
  text-decoration: none;
}

/* line 34, ../ext/organic-css/src/atoms/_text.scss */
footer, .header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1, .header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2, .big-title {
  text-align: center;
}

/* line 37, ../ext/organic-css/src/atoms/_text.scss */
.content h3, .content h3:before {
  font-style: normal;
}

/* line 40, ../ext/organic-css/src/atoms/_text.scss */
.content pre {
  word-wrap: break-word;
}

/* line 14, ../ext/organic-css/src/common.scss */
body, .header a, .journal .header a,
.journal [class^="header"] a,
.journal [class*=" header"] a, .header h1 small, .journal .header h1 small,
.journal [class^="header"] h1 small,
.journal [class*=" header"] h1 small, .content pre {
  font-size: 14px;
}

/* line 14, ../ext/organic-css/src/common.scss */
body, .content .content-column-left, .content .content-column-right {
  font-size: 16px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content h3:before {
  font-size: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content h3 {
  font-size: 34px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1 {
  font-size: 50px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.big-title {
  font-size: 80px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header h1 small, .journal .header h1 small,
.journal [class^="header"] h1 small,
.journal [class*=" header"] h1 small {
  line-height: 18px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content pre {
  line-height: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
body {
  line-height: 22px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content .content-column-left, .content .content-column-right {
  line-height: 26px;
}

/* line 14, ../ext/organic-css/src/common.scss */
body {
  line-height: 28px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content h3 {
  line-height: 30px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1 {
  line-height: 50px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.big-title {
  line-height: 80px;
}

/* line 2, ../ext/organic-css/src/atoms/_clearfix.scss */
.header:after, .journal .header:after,
.journal [class^="header"]:after,
.journal [class*=" header"]:after, .content:after {
  display: table;
  content: "";
  clear: both;
}

/* line 9, ../ext/organic-css/src/atoms/_widths.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1, .header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2, .content .content-column-left {
  width: 33.333%;
}

/* line 10, ../ext/organic-css/src/atoms/_widths.scss */
.content .content-column-right {
  width: 66.666%;
}

/* line 4, ../ext/organic-css/src/atoms/_floats.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1, .header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2, .content .content-column-left, .content .content-column-right {
  float: left;
}

/* line 2, ../ext/organic-css/src/atoms/_box-model.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
}

/* line 3, ../ext/organic-css/src/atoms/_box-model.scss */
.container {
  margin: 0 auto;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content pre {
  margin-top: 6px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content h4:nth-of-type(n+2) {
  margin-top: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
footer, .content {
  margin-top: 40px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content pre {
  margin-bottom: 6px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content h3 {
  margin-bottom: 10px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"] {
  margin-bottom: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.big-title {
  margin-bottom: 30px;
}

/* line 14, ../ext/organic-css/src/common.scss */
footer {
  margin-bottom: 40px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content ul {
  margin-left: 22px;
}

/* line 11, ../ext/organic-css/src/atoms/_box-model.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, .container {
  padding: 0;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content pre {
  padding-top: 10px;
}

/* line 14, ../ext/organic-css/src/common.scss */
footer {
  padding-top: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content {
  padding-top: 30px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"] {
  padding-top: 40px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content h3:before {
  padding-right: 12px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content .content-column-left, .content pre {
  padding-right: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content pre {
  padding-bottom: 10px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"] {
  padding-bottom: 40px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2, .content .content-column-right, .content pre {
  padding-left: 20px;
}

/* line 14, ../ext/organic-css/src/common.scss */
.content pre {
  border-radius: 8px;
}

/* line 11, ../ext/organic-css/src/atoms/_sizes.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 1, ../ext/organic-css/src/atoms/_colors.scss */
a, .content h3, .content pre {
  color: #000;
}

/* line 9, ../ext/organic-css/src/atoms/_effects.scss */
.header h1 small, .journal .header h1 small,
.journal [class^="header"] h1 small,
.journal [class*=" header"] h1 small {
  text-shadow: none;
}

/* line 21, ../ext/organic-css/src/common.scss */
body {
  font-family: Georgia;
}

/* line 21, ../ext/organic-css/src/common.scss */
.content pre {
  font-family: "Courier New";
}

/* line 21, ../ext/organic-css/src/common.scss */
.header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2 {
  border-left: dotted 1px #A7A7A7;
}

/* line 21, ../ext/organic-css/src/common.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"] {
  border-bottom: solid 5px #A7A7A7;
}

/* line 21, ../ext/organic-css/src/common.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1, .header h2, .journal .header h2,
.journal [class^="header"] h2,
.journal [class*=" header"] h2, .header a, .journal .header a,
.journal [class^="header"] a,
.journal [class*=" header"] a {
  color: #5F7928;
}

/* line 21, ../ext/organic-css/src/common.scss */
.header h1, .journal .header h1,
.journal [class^="header"] h1,
.journal [class*=" header"] h1 {
  text-shadow: 1px -1px 1px #A7A7A7;
}

/* line 21, ../ext/organic-css/src/common.scss */
.content pre {
  background-color: #A7A7A7;
  background-color: #f4f4f4;
}

/* line 21, ../ext/organic-css/src/common.scss */
footer, .content {
  border-top: dotted 1px #A7A7A7;
}

/* line 21, ../ext/organic-css/src/common.scss */
.content .content-column-left {
  color: #A7A7A7;
  color: #747474;
}

/* line 1, ../ext/organic-css/example/sass/molecules/_container.scss */
.container {
  max-width: 960px;
}

@media all and (max-width: 900px) {
  /* line 11, ../ext/organic-css/example/sass/molecules/_header.scss */
  .header h1, .journal .header h1,
  .journal [class^="header"] h1,
  .journal [class*=" header"] h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 620px) {
  /* line 11, ../ext/organic-css/example/sass/molecules/_header.scss */
  .header h1, .journal .header h1,
  .journal [class^="header"] h1,
  .journal [class*=" header"] h1 {
    float: none;
    width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
  }
}
@media all and (max-width: 900px) {
  /* line 45, ../ext/organic-css/example/sass/molecules/_header.scss */
  .header h2, .journal .header h2,
  .journal [class^="header"] h2,
  .journal [class*=" header"] h2 {
    border-left: none;
  }
}
@media all and (max-width: 620px) {
  /* line 45, ../ext/organic-css/example/sass/molecules/_header.scss */
  .header h2, .journal .header h2,
  .journal [class^="header"] h2,
  .journal [class*=" header"] h2 {
    width: 50%;
  }
}

/* line 64, ../ext/organic-css/example/sass/molecules/_content.scss */
.content h3:before {
  content: "♦";
}
@media all and (max-width: 980px) {
  /* line 10, ../ext/organic-css/example/sass/molecules/_content.scss */
  .content .content-column-left {
    padding-left: 20px;
  }
}
@media all and (max-width: 700px) {
  /* line 10, ../ext/organic-css/example/sass/molecules/_content.scss */
  .content .content-column-left {
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 980px) {
  /* line 33, ../ext/organic-css/example/sass/molecules/_content.scss */
  .content .content-column-right {
    padding-right: 20px;
  }
}
@media all and (max-width: 700px) {
  /* line 33, ../ext/organic-css/example/sass/molecules/_content.scss */
  .content .content-column-right {
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    width: 100%;
    margin-top: 20px;
  }
}

/* @usage .page .header */
/*@import "organs/_directory";*/
/*** ==========================================================================

***/
/* line 40, interface.scss */
.concierge {
  background: url(/images/blocknext-bg-3-optimized.jpg) bottom center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 100px;
}
/* line 45, interface.scss */
.concierge form {
  text-align: center;
}
/* line 46, interface.scss */
.concierge input {
  width: 80%;
}
/* line 47, interface.scss */
.concierge button {
  position: absolute;
  left: -9999px;
}
/* line 48, interface.scss */
.concierge #messages {
  padding: 1vw;
  max-height: 100%;
  overflow: scroll;
  font-size: 1.5rem;
}

/*** ==========================================================================

***/
/* line 61, interface.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*** ==========================================================================

***/
/* line 73, interface.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 75, interface.scss */
input, button, select, textarea {
  font-family: 'Abel', sans-serif !important;
  font-size: 1.325rem;
}

/* line 80, interface.scss */
button {
  font-size: 2rem;
}

/* line 84, interface.scss */
ul, ol {
  list-style: none;
}

/* line 88, interface.scss */
body {
  padding: 0;
  font-family: 'Abel', sans-serif;
  border-top: 10px #0C5975 solid;
  background: rgba(0, 0, 0, 0.8);
}

/* line 96, interface.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"] {
  /*border-top: 10px #5c5880 solid;*/
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 9000;
  width: 100%;
}

/* line 104, interface.scss */
.header .inner,
.journal [class^="header"] .inner,
.journal [class*=" header"] .inner {
  display: flex;
  padding: 2.5vh 0;
}
/* line 107, interface.scss */
.header .inner a,
.journal [class^="header"] .inner a,
.journal [class*=" header"] .inner a {
  cursor: pointer;
}
/* line 108, interface.scss */
.header .inner .navbar-header,
.journal [class^="header"] .inner .navbar-header,
.journal [class*=" header"] .inner .navbar-header {
  width: 25%;
  text-align: center;
}
/* line 111, interface.scss */
.header .inner .navbar-header a,
.journal [class^="header"] .inner .navbar-header a,
.journal [class*=" header"] .inner .navbar-header a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
/* line 112, interface.scss */
.header .inner .navbar-header img,
.journal [class^="header"] .inner .navbar-header img,
.journal [class*=" header"] .inner .navbar-header img {
  position: relative;
  top: -.5rem;
  width: 4vmax;
  image-rendering: optimizequality;
}
/* line 119, interface.scss */
.header .inner .collapse,
.journal [class^="header"] .inner .collapse,
.journal [class*=" header"] .inner .collapse {
  width: 75%;
}
/* line 122, interface.scss */
.header .inner .collapse .menu,
.journal [class^="header"] .inner .collapse .menu,
.journal [class*=" header"] .inner .collapse .menu {
  text-align: right;
  padding-right: 15px;
  font-size: 2rem;
}
/* line 129, interface.scss */
.header .inner .visible,
.journal [class^="header"] .inner .visible,
.journal [class*=" header"] .inner .visible {
  display: flex !important;
  flex-direction: column;
}
/* line 132, interface.scss */
.header .inner .visible li,
.journal [class^="header"] .inner .visible li,
.journal [class*=" header"] .inner .visible li {
  display: block;
  width: 100%;
  text-align: right;
  list-style: none;
}
/* line 139, interface.scss */
.header .inner .collapse ul.nav.navbar-nav#menu:target,
.journal [class^="header"] .inner .collapse ul.nav.navbar-nav#menu:target,
.journal [class*=" header"] .inner .collapse ul.nav.navbar-nav#menu:target {
  display: flex;
  flex-direction: column;
}
/* line 143, interface.scss */
.header .inner .collapse ul.nav.navbar-nav,
.journal [class^="header"] .inner .collapse ul.nav.navbar-nav,
.journal [class*=" header"] .inner .collapse ul.nav.navbar-nav {
  width: 100%;
  display: none;
  font-size: 1.325rem;
}
/* line 147, interface.scss */
.header .inner .collapse ul.nav.navbar-nav a,
.journal [class^="header"] .inner .collapse ul.nav.navbar-nav a,
.journal [class*=" header"] .inner .collapse ul.nav.navbar-nav a {
  display: block;
  color: #fff;
  font-weight: normal;
  padding: 0 2.5vh;
}
/* line 148, interface.scss */
.header .inner .collapse ul.nav.navbar-nav a,
.journal [class^="header"] .inner .collapse ul.nav.navbar-nav a,
.journal [class*=" header"] .inner .collapse ul.nav.navbar-nav a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  /* line 153, interface.scss */
  .header .inner .collapse .menu,
  .journal [class^="header"] .inner .collapse .menu,
  .journal [class*=" header"] .inner .collapse .menu {
    display: none;
  }
  /* line 156, interface.scss */
  .header .inner .collapse ul.nav.navbar-nav,
  .journal [class^="header"] .inner .collapse ul.nav.navbar-nav,
  .journal [class*=" header"] .inner .collapse ul.nav.navbar-nav {
    display: flex;
  }
  /* line 159, interface.scss */
  .header .inner li,
  .journal [class^="header"] .inner li,
  .journal [class*=" header"] .inner li {
    display: inline-block;
    width: 33%;
    text-align: center;
  }
  /* line 164, interface.scss */
  .header .inner .visible,
  .journal [class^="header"] .inner .visible,
  .journal [class*=" header"] .inner .visible {
    display: flex !important;
    flex-direction: row;
    background-color: transparent;
  }
  /* line 168, interface.scss */
  .header .inner .visible li,
  .journal [class^="header"] .inner .visible li,
  .journal [class*=" header"] .inner .visible li {
    display: inline-block;
    width: 33%;
    text-align: center;
  }
}
/* line 177, interface.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"],
.marketing {
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
}

/* line 183, interface.scss */
.footer {
  background-color: #D2E9A4;
  background-color: #760D64;
  background-color: #5C5880;
  background-color: #143048;
  background-color: #0B5E7E;
  color: #fff;
  text-align: center;
}
/* line 191, interface.scss */
.footer ul {
  text-align: center;
}
/* line 192, interface.scss */
.footer li {
  display: inline-block;
}
/* line 193, interface.scss */
.footer a {
  font-size: 1.325rem;
  color: #fff;
  text-decoration: none;
}
/* line 194, interface.scss */
.footer li a {
  padding: 0 1vw;
}

/* line 197, interface.scss */
.header, .journal .header,
.journal [class^="header"],
.journal [class*=" header"] {
  /*border-bottom: 3px #5c5880 solid;*/
}
/* line 200, interface.scss */
.header h3, .journal .header h3,
.journal [class^="header"] h3,
.journal [class*=" header"] h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* line 208, interface.scss */
.footer {
  padding: 15px 15px;
  border-top: 7px solid #e5e5e5;
  border-bottom: 10px solid #B59336;
}

/* line 214, interface.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 218, interface.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
/* line 222, interface.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* line 228, interface.scss */
.marketing {
  margin: 40px 0;
}
/* line 231, interface.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* line 236, interface.scss */
.container {
  /*
   *background: rgba(0, 0, 0, .8);
   *color: #fff;
   */
}

@media screen and (min-width: 768px) {
  /* line 243, interface.scss */
  .container {
    padding: 0 0;
  }

  /* line 247, interface.scss */
  .header, .journal .header,
  .journal [class^="header"],
  .journal [class*=" header"],
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 254, interface.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/*** ==========================================================================

***/
/* line 264, interface.scss */
button {
  border: none;
  background: none;
}

/* line 265, interface.scss */
button + button {
  margin-left: 1rem;
}

/* line 266, interface.scss */
label {
  min-width: 5rem;
}

/* line 269, interface.scss */
.form-group {
  margin-bottom: 1vh;
}

/*** ==========================================================================

***/
/* line 276, interface.scss */
.simple-search {
  overflow: hidden;
}
/* line 278, interface.scss */
.simple-search button {
  position: absolute;
  top: -2rem;
  left: .5rem;
  border: none;
  background: none;
}
/* line 284, interface.scss */
.simple-search .field {
  width: 100%;
  float: left;
}
/* line 285, interface.scss */
.simple-search .field input {
  width: 100%;
  padding: 1vh 1vh 1vh 10vh;
  border: none;
  font-size: 1.325rem;
}
/* line 291, interface.scss */
.simple-search .field.action {
  float: left;
  position: relative;
}
/* line 292, interface.scss */
.simple-search md-input-container {
  position: absolute;
  right: .5rem;
  top: -2.75em;
  z-index: 9000;
  font-size: 1.325rem;
}
/* line 299, interface.scss */
.simple-search .field.action select {
  /*top: -2em; position: absolute; right: .5rem; z-index: 9000; */
}

/*** ==========================================================================

***/
/* line 309, interface.scss */
.home--repair--ideas {
  padding: 5vw 15px 7vw;
  /*
   *background: url(/images/blocknext-bg-2-optimized.jpg) 0 top no-repeat;
   *background-size: cover;
   */
  background-color: #A79A92;
  font-size: 1.325rem;
}
/* line 317, interface.scss */
.home--repair--ideas h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}
/* line 318, interface.scss */
.home--repair--ideas p {
  max-width: 75%;
  text-align: center;
  font-size: 1.325rem;
  margin: 0 auto 3vh;
  /*
   *border-top: 5px #C2AEA4 solid;
   *border-bottom: 5px #C2AEA4 solid;
   */
}
/* line 325, interface.scss */
.home--repair--ideas a {
  color: #fff;
}

/* line 328, interface.scss */
.view--list--books {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: 1.325rem;
  color: #fff;
}
/* line 334, interface.scss */
.view--list--books h2 {
  margin: 0 10px 0 0;
}
/* line 335, interface.scss */
.view--list--books h2 {
  min-height: 15vh;
}
/* line 336, interface.scss */
.view--list--books h2 {
  font-size: 1.75rem;
  color: #111;
}
/* line 337, interface.scss */
.view--list--books figcaption {
  border-bottom: 5px solid #B59336;
}
/* line 340, interface.scss */
.view--list--books a {
  color: #fff;
  text-decoration: none;
}
/* line 341, interface.scss */
.view--list--books li {
  width: 31%;
  min-width: 31%;
  padding: 1%;
}
/* line 342, interface.scss */
.view--list--books li:nth-child(1n+1) {
  padding-left: 0;
  width: 32%;
  min-width: 32%;
}
/* line 343, interface.scss */
.view--list--books li:nth-child(3n) {
  padding-right: 0;
  width: 32%;
  min-width: 32%;
}

/*** ==========================================================================

***/
/* line 351, interface.scss */
.home--search--properties {
  position: relative;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 3vh;
}
/* line 356, interface.scss */
.home--search--properties > p {
  font-size: 1.325rem;
  text-align: center;
  margin-bottom: 1vw;
}
/* line 357, interface.scss */
.home--search--properties h1 {
  padding: 0 15px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
}
/* line 358, interface.scss */
.home--search--properties figcaption {
  font-size: 1.325rem;
}
/* line 362, interface.scss */
.home--search--properties dl {
  justify-content: space-around;
  display: flex;
}
/* line 365, interface.scss */
.home--search--properties figcaption p {
  padding-top: .5rem;
  margin-top: 1rem;
  border-top: 5px #9A6B08 solid;
}
/* line 366, interface.scss */
.home--search--properties dd {
  padding: 0 5px;
  margin: 0 5px;
  color: #fff;
  background-color: #76B923;
}

/* line 370, interface.scss */
.view--list--properties {
  display: flex;
  overflow: scroll;
}
/* line 373, interface.scss */
.view--list--properties img {
  width: 100%;
}
/* line 374, interface.scss */
.view--list--properties li {
  min-width: 50%;
  max-width: 50%;
}
/* line 378, interface.scss */
.view--list--properties figcaption {
  padding: 3vh 15px;
}

/*** ==========================================================================

***/
/* line 387, interface.scss */
.login--form label {
  float: left;
  width: 100px;
}

/*** ==========================================================================

***/
/* line 395, interface.scss */
.home--masthead {
  text-align: center;
  padding: 15vw 0 20vw;
  font-size: 2rem;
  /*background: url(/images/bg-1.jpg) bottom center no-repeat;*/
  /*background-size: cover;*/
  background-color: #A79A92;
  color: #fff;
}
/* line 405, interface.scss */
.home--masthead .inner {
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  top: -5vmin;
}

/*** ==========================================================================

***/
/* line 413, interface.scss */
.home--learn {
  z-index: 10;
  position: relative;
  background-color: #fff;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
/* line 419, interface.scss */
.home--learn .primary {
  text-align: center;
  color: #111;
  font-size: 1.325rem;
}
/* line 421, interface.scss */
.home--learn .primary iframe {
  min-width: 75%;
  min-height: 25vw;
  max-width: 100%;
}
/* line 428, interface.scss */
.home--learn .primary figcaption {
  text-align: center;
  padding: 0 2vw 0 3vw;
}
/* line 430, interface.scss */
.home--learn .action {
  text-align: center;
  margin: 1rem 0 0 0;
}
/* line 435, interface.scss */
.home--learn .secondary .inner {
  margin: 0 auto;
  position: relative;
  background-color: #1E9277;
  background-color: #5C5880;
  background-color: #5E5783;
  color: #fff;
  padding: 4vw;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  /* line 450, interface.scss */
  .secondary .inner {
    max-width: 50%;
    padding: 3vw;
  }
}
/*** ==========================================================================

***/
/* line 462, interface.scss */
.cta--columnar--default {
  display: flex;
  flex-direction: column;
}
/* line 465, interface.scss */
.cta--columnar--default .primary,
.cta--columnar--default .secondary {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 470, interface.scss */
  .cta--columnar--default {
    flex-direction: row;
  }
  /* line 472, interface.scss */
  .cta--columnar--default .primary,
  .cta--columnar--default .secondary {
    width: 50%;
  }
}
/* line 478, interface.scss */
.cta--columnar--default.home--select .secondary {
  width: 100%;
  right: 0;
}

@media screen and (min-width: 768px) {
  /* line 482, interface.scss */
  .cta--columnar--default.home--select .secondary {
    width: 45%;
    right: 5vh;
  }
}
/* line 486, interface.scss */
.cta--columnar--triple {
  padding: 5vw 0;
}
/* line 488, interface.scss */
.cta--columnar--triple ul {
  display: flex;
}
/* line 491, interface.scss */
.cta--columnar--triple .fa {
  font-size: 3rem;
}
/* line 492, interface.scss */
.cta--columnar--triple li {
  text-align: center;
  width: 33%;
}

/* line 495, interface.scss */
.cta--columnar--quad {
  padding: 0 0 5vw 0;
}
/* line 497, interface.scss */
.cta--columnar--quad ul {
  display: flex;
}
/* line 500, interface.scss */
.cta--columnar--quad .fa {
  font-size: 3rem;
}
/* line 501, interface.scss */
.cta--columnar--quad li {
  text-align: center;
  width: 25%;
}

/*** ==========================================================================

***/
/* line 509, interface.scss */
.home--why {
  background-color: #fff;
  position: relative;
  z-index: 10;
  color: #111;
  font-size: 1.725rem;
  text-align: center;
  padding-bottom: 7vw;
}
/* line 517, interface.scss */
.home--why h1 {
  padding: 2.5vw 0 0;
  margin-bottom: 1.5rem;
}
/* line 520, interface.scss */
.home--why p {
  max-width: 65%;
  margin: 0 auto;
  text-align: left;
}
/* line 521, interface.scss */
.home--why p {
  margin-bottom: 1.325rem;
}

/*** ==========================================================================

***/
/* line 528, interface.scss */
.home--tale {
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding-bottom: 5vw;
}
/* line 533, interface.scss */
.home--tale h2 {
  font-size: 2.325rem;
  text-align: center;
}
/* line 534, interface.scss */
.home--tale h3 {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
}
/* line 535, interface.scss */
.home--tale table {
  max-width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 2rem;
}
/* line 536, interface.scss */
.home--tale .item-header {
  text-align: right;
  min-width: 20vw;
  border-right: 3px #ccc solid;
}
/* line 537, interface.scss */
.home--tale .person-header {
  text-align: left;
}
/* line 538, interface.scss */
.home--tale tbody tr:first-child td {
  border-top: 3px #ccc solid;
}
/* line 539, interface.scss */
.home--tale table tr:nth-child(even) {
  background-color: #E8D087;
}
/* line 540, interface.scss */
.home--tale table td, .home--tale table th {
  padding: 1vw;
}
/* line 541, interface.scss */
.home--tale .wide {
  min-width: 25vw;
}

/*** ==========================================================================

***/
/* line 548, interface.scss */
.home--benefits {
  color: #fff;
  border-top: 5px #f9f9f9 solid;
  /*box-shadow: 0px 0px 0px 4px #006B96;*/
  /*
   *border: 4px solid #f9f9f9;
   *border-top-left-radius: 5px;
   *border-bottom-right-radius: 5px;
   */
  min-height: 100px;
  padding: 25vw 0 10vh 0;
  /*
   *background: url(/images/blocknext-bg-1-optimized.jpg) bottom center no-repeat;
   *background-size: cover;
   */
  background-color: #A79A92;
  font-size: 1.325rem;
}
/* line 565, interface.scss */
.home--benefits li {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*** ==========================================================================

***/
/* line 573, interface.scss */
.home--select,
.home--max {
  padding: 5vw 0;
  z-index: 10;
  position: relative;
  background-color: #5C5880;
  background-color: #5E5783;
}
/* line 580, interface.scss */
.home--select .primary,
.home--max .primary {
  width: 80%;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
  color: #fff;
}
/* line 588, interface.scss */
.home--select .secondary,
.home--max .secondary {
  position: relative;
  width: 100%;
  text-align: center;
  /*top: 5vh;*/
}

@media screen and (min-width: 768px) {
  /* line 600, interface.scss */
  .home--select .primary,
  .home--max .primary {
    width: 50%;
  }

  /* line 606, interface.scss */
  .home--select .secondary,
  .home--max .secondary {
    right: 20vh;
    width: 35%;
  }
}
/*** ==========================================================================

***/
/* line 619, interface.scss */
.secondary button {
  background-color: #57A992;
  background-color: #990033;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.25vw 2vw;
  text-transform: uppercase;
}

/*** ==========================================================================

***/
/* line 634, interface.scss */
.home--how {
  z-index: 1;
  position: relative;
  color: #fff;
  font-size: 1.325rem;
  padding-bottom: 0 !important;
  background-color: #A79A92;
}
/* line 641, interface.scss */
.home--how header {
  color: #fff;
  position: relative;
  /*min-height: 10vh;*/
}
/* line 645, interface.scss */
.home--how header h1 {
  padding-top: 4rem;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 1.5rem;
}
/* line 646, interface.scss */
.home--how header:before {
  position: absolute;
  z-index: -1;
  display: block;
  content: ' ';
  width: 100%;
  height: 100vw;
  /*
   *background: url(/images/blocknext-bg-2-optimized.jpg) bottom center no-repeat;
   *background-size: cover;
   */
}
/* line 659, interface.scss */
.home--how ul {
  /*min-height: 100px; */
  width: 100%;
  /*position: absolute; */
  padding-top: 10vmin;
  padding-bottom: 20vmin;
  z-index: 2;
}
/* line 666, interface.scss */
.home--how h2 {
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  /* line 670, interface.scss */
  .home--how {
    /*padding-bottom: 30vmax;*/
  }
}
/*** ==========================================================================

***/
/* line 682, interface.scss */
.home--numbers {
  padding: 10vw 0;
  background-color: #5FD7AA;
  background-color: #795F5D;
  color: #fff;
  /*
   *background: url(/images/blocknext-bg-5-optimized.jpg) bottom center no-repeat;
   *background-size: cover;
   */
}
/* line 691, interface.scss */
.home--numbers h1 {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
/* line 692, interface.scss */
.home--numbers .stats--symbol-1 {
  color: #fff;
  font-size: 2rem;
}
/* line 693, interface.scss */
.home--numbers p {
  font-size: 1.325rem;
  color: #666;
  color: #fff;
}

/*** ==========================================================================

***/
/* line 701, interface.scss */
.home--saying {
  z-index: 10;
  position: relative;
  background-color: #fff;
  line-height: 0;
}
/* line 705, interface.scss */
.home--saying h1 {
  padding: 8vh;
  background-color: #478660;
  background-color: #54336D;
  background-color: #5C5880;
  background-color: #5E5783;
  text-align: center;
  color: #fff;
}
/* line 711, interface.scss */
.home--saying ul {
  display: flex;
  flex-direction: column;
}
/* line 712, interface.scss */
.home--saying li {
  width: 100%;
}
/* line 713, interface.scss */
.home--saying li figcaption {
  line-height: 1.325;
  width: 50%;
  float: right;
}
/* line 714, interface.scss */
.home--saying li figcaption {
  font-size: 1.325rem;
  width: 100%;
}
/* line 717, interface.scss */
.home--saying li figcaption blockquote {
  /*div { text-align: right; color: #ccc; font-style: italic; }*/
  padding: 3vw 6vw;
}
/* line 718, interface.scss */
.home--saying li figcaption blockquote p {
  margin-bottom: 1rem;
}
/* line 722, interface.scss */
.home--saying .quote--container {
  width: 100%;
  text-align: center;
  padding: 10vw 0;
}
/* line 726, interface.scss */
.home--saying .quote--container img {
  object-fit: contain;
  width: 100%;
}
/* line 728, interface.scss */
.home--saying .quote--container {
  float: left;
}
/* line 729, interface.scss */
.home--saying .right {
  float: right;
}
/* line 730, interface.scss */
.home--saying .quote--container,
.home--saying .right {
  clear: both;
}

@media screen and (min-width: 768px) {
  /* line 737, interface.scss */
  .home--saying .quote--container {
    width: 50%;
  }
  /* line 740, interface.scss */
  .home--saying li figcaption {
    width: 50%;
    font-size: 2rem;
  }
  /* line 744, interface.scss */
  .home--saying .quote--container,
  .home--saying .right {
    clear: none;
  }
}
/*** ==========================================================================

***/
/* line 756, interface.scss */
.home--faq {
  font-size: 1.325rem;
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding: 5vw 3vw;
}
/* line 762, interface.scss */
.home--faq h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
/* line 763, interface.scss */
.home--faq ul {
  display: flex;
  flex-flow: row wrap;
}
/* line 764, interface.scss */
.home--faq li {
  width: 100%;
}
/* line 765, interface.scss */
.home--faq figure {
  padding: 1vw;
  font-size: 1.5rem;
}
/* line 766, interface.scss */
.home--faq .question--container {
  margin-bottom: .5rem;
  font-size: 2rem;
}
/* line 767, interface.scss */
.home--faq .figcaption {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  /* line 771, interface.scss */
  .home--faq ul {
    display: flex;
    flex-flow: row wrap;
  }
  /* line 772, interface.scss */
  .home--faq li {
    width: 50%;
  }
}
/*** ==========================================================================

***/
/* line 781, interface.scss */
.home--questions {
  padding: 7.5vw 0;
  /*
   *background: url(/images/blocknext-bg-2-optimized.jpg) 0 bottom no-repeat;
   *background-size: cover;
   */
}
/* line 787, interface.scss */
.home--questions h1 {
  color: #111;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
/* line 788, interface.scss */
.home--questions p {
  text-align: center;
}
/* line 789, interface.scss */
.home--questions a {
  background-color: #57A992;
  background-color: #990033;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: .5vw 1vw;
}

/*** ==========================================================================

***/
/* line 805, interface.scss */
.home--roi {
  background-color: #fff;
  position: relative;
  z-index: 10;
  background-color: #52857F;
  background-color: #54336D;
  background-color: #5C5880;
  background-color: #5E5783;
  color: #fff;
  text-align: center;
  padding: 2vw 0 5vw 0;
  font-size: 1.5rem;
}
/* line 810, interface.scss */
.home--roi #roi--finish .secondary {
  padding: 0 2vw;
}
/* line 814, interface.scss */
.home--roi select, .home--roi md-radio-button.md-default-theme .md-off, .home--roi md-radio-button .md-off {
  color: #fff;
  border-color: #fff;
}
/* line 818, interface.scss */
.home--roi .md-select-value {
  color: #fff;
}
/* line 821, interface.scss */
.home--roi md-input-container label {
  color: #fff !important;
}
/* line 825, interface.scss */
.home--roi .md-input-focused .md-text {
  color: #fff;
}
/* line 829, interface.scss */
.home--roi .md-select-value.md-select-placeholder,
.home--roi .md-select-placeholder {
  border-color: #fff;
  color: #fff;
}
/* line 838, interface.scss */
.home--roi .inner {
  /*background: url(/images/blocknext-bg-1.jpg) bottom center no-repeat;*/
  /*background-size: cover;*/
  /*background-color: #990033;*/
}
/* line 844, interface.scss */
.home--roi select {
  width: 50%;
  margin: 0 auto;
}
/* line 845, interface.scss */
.home--roi .field--lender__type {
  max-width: 50%;
  margin: 0 auto;
}
/* line 848, interface.scss */
.home--roi .field--lender__type select {
  color: #fff;
}
/* line 850, interface.scss */
.home--roi h3 {
  margin-top: 1.5rem;
}
/* line 851, interface.scss */
.home--roi .inline {
  text-align: center;
  display: flex;
}
/* line 854, interface.scss */
.home--roi .inline label {
  width: 50%;
}
/* line 855, interface.scss */
.home--roi .inline md-radio-button {
  display: inline;
  margin: 0 1rem;
}
/* line 859, interface.scss */
.home--roi .inline md-radio-group {
  margin: 0 auto;
}
/* line 861, interface.scss */
.home--roi .inline md-radio-group .md-container {
  margin-top: -.25em;
}
/* line 863, interface.scss */
.home--roi .input-section {
  display: flex;
}
/* line 866, interface.scss */
.home--roi .input-section .primary {
  width: 50%;
}
/* line 869, interface.scss */
.home--roi .input-section .secondary {
  width: 50%;
}
/* line 872, interface.scss */
.home--roi button {
  background-color: #FCEBAF;
  background-color: #483260;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  max-width: 50%;
  padding: 1.5rem 2.325rem;
  margin: 0 auto;
}
/* line 882, interface.scss */
.home--roi h1 {
  margin: 1vw 0;
}
/* line 883, interface.scss */
.home--roi .inner {
  background-color: #5C5880;
  background-color: #A0C0D0;
  background: rgba(0, 0, 0, 0.45);
  margin: 0 auto;
  max-width: 60%;
  padding: 2vw 0;
}
/* line 894, interface.scss */
.home--roi .field {
  display: flex;
  flex-direction: column;
}
/* line 897, interface.scss */
.home--roi .field div {
  margin-bottom: 1rem;
}
/* line 900, interface.scss */
.home--roi input {
  padding: 0 .5rem;
  font-size: 1.5rem;
}
/* line 901, interface.scss */
.home--roi label {
  display: block;
  margin-bottom: 1rem;
}
/* line 902, interface.scss */
.home--roi .fixture {
  position: absolute;
  margin-left: .5rem;
}

/*** ==========================================================================

***/
/* line 910, interface.scss */
g > g.arc {
  stroke: white;
  stroke-width: 3;
}

/* line 915, interface.scss */
g > text {
  stroke: black;
  stroke-width: 2;
}

/* line 920, interface.scss */
.angular-leaflet-map {
  z-index: 4 !important;
}

/* line 924, interface.scss */
.image--alignment--left {
  float: left;
}

/* line 925, interface.scss */
.key-features {
  font-size: 1.5rem;
}
/* line 926, interface.scss */
.key-features ul {
  list-style: disc;
}
/* line 927, interface.scss */
.key-features li {
  margin-bottom: 1rem;
}

/* line 930, interface.scss */
.page--login {
  color: #fff;
  min-height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/images/blocknext-bg-3-optimized.jpg) bottom center no-repeat;
  background-size: cover;
}
/* line 931, interface.scss */
.page--login label {
  position: absolute;
  left: -9999px;
}
/* line 935, interface.scss */
.page--login h2 {
  position: absolute;
  left: -9999px;
}
/* line 939, interface.scss */
.page--login form {
  position: relative;
  top: 0;
}

/*# sourceMappingURL=interface.css.map */
