<div class="page--account">

  <div>
    <h3>Profile</h3>

    <form role="form">
      <p class="form-group">
        <label>Account ID</label>
        <br />{{user.uid}}
      </p>

      <p class="form-group">
        <label>Name:</label>
        <input type="text" name="name" ng-model="profile.name" />
      </p>

      <p class="form-group">
        <label>Email:</label>
        <br />{{profile.email}}
      </p>
    </form>

    <p>
      <button role="button" ng-click="logout()">Log Out</button>
    </p>
  </div>

  <div>
    <form role="form">
      <h3>Change Password</h3>

      <p class="form-group">
        <label>Old Password:</label>
        <input type="password" ng-keypress="clear()" ng-model="oldpass" />
      </p>

      <p class="form-group">
        <label>New Password:</label>
        <input type="password" ng-keypress="clear()" ng-model="newpass" />
      </p>

      <p class="form-group">
        <label>Confirm New Password:</label>
        <input type="password" ng-keypress="clear()" ng-model="confirm" />
      </p>

      <button ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

      <p class="error" ng-show="err">{{err}}</p>
      <p class="good" ng-show="msg">{{msg}}</p>
    </form>
  </div>

  <div>
    <form>
      <h3>Change Email</h3>

      <p class="form-group">
        <label>New Email:</label>
        <input type="text" ng-keypress="clear()" ng-model="newEmail" />
      </p>

      <p class="form-group">
        <label>Password:</label>
        <input type="password" ng-keypress="clear()" ng-model="pass" />
      </p>

      <button ng-click="changeEmail(pass, newEmail)">update email</button>
    </form>
  </div>

</div>

<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
