<div class="home--masthead font-effect-3d-float">
  <div class="inner">
    <h1 title="Finance à la mode.">Blauktion</h1>
    <p>Where engagement and auctions align</p>
    <div class="cta--mini">
      <a href="/pages/contact">
        Contact Us
      </a>
    </div>
  </div>
</div>

<div class="home--why">
  <h1 id="why">Vision</h1>
  <p>
  Blauktion is a new experiment in Engagement Auction, where the Web of Trust is leveraged to underpin an authentic auction experience.
  </p>
  <p>
  Paypal and Stripe are used along with Auction Locking Signups.
  </p>
  <p>
  ...
  </p>
</div>

<div class="cta--columnar--default home--learn">
  <div class="primary">
    <figure>
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />
      <figcaption>
      <p>
        <a href="/#learn-more">Learn More</a>
      </p>
      </figcaption>
    </figure>
  </div>
  <div class="secondary">
    <div class="inner">
      <h2>Feature List</h2>
      <ul>
        <li>Pre-bid</li>
        <li>Max-bid</li>
        <li>Rolling Bids</li>
        <li>Best Offer</li>
      </ul>
      <p>
        <a href="/pages/clerks">Clerks</a>
      </p>
    </div>
  </div>
</div>

<div class="cta--columnar--triple home--benefits font-effect-3d-float">
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Reduce Business Risk</h2>
      <!--
         -<p>
         -This physical access point, provided by Federated Hardware, provides a place to use our financial services and access the global economy. It also provides wireless access to educational materials and guides to provide assistance to users wanting to know more about the philosophy and technology behind Blauktion and the new worldwide system. 
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Streamline Cash Flow</h2>
      <!--
         -<p>
         -Blauktion brings a set of lightweight, bidding, strategies (quick max+1, peel, double peel, follow max+1).
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Go Mobile</h2> 
      <!--
         -<p>
         -Blauktion uses Stripe to handle Payment Processing. We do not store your card data.
         -</p>
         -->
    </li>
  </ul>
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Improve Buyer Safety</h2>
      <!--
         -<p>
         -This physical access point, provided by Federated Hardware, provides a place to use our financial services and access the global economy. It also provides wireless access to educational materials and guides to provide assistance to users wanting to know more about the philosophy and technology behind Blauktion and the new worldwide system. 
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Use Paypal or Stripe</h2>
      <!--
         -<p>
         -Blauktion brings a set of lightweight, bidding, strategies (quick max+1, peel, double peel, follow max+1).
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Accept Bitcoin</h2> 
      <!--
         -<p>
         -Blauktion uses Stripe to handle Payment Processing. We do not store your card data.
         -</p>
         -->
    </li>
  </ul>
  <!--
     -<div class="">
     -  <p><a href="/pages/live-feed">Learn more about the platform</a></p>
     -</div>
     -->
</div>


<!--div class="home--tale">
  <h2>A tale of two bidders</h2>
  <h3>Here's why it makes sense to lend bitcoin as a private lender:</h3>
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="wide person-header">Joe</th>
        <th class="wide person-header">Jim</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="item-header">Investment strategy</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Term</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Rate of return</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Total earnings</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
    </tbody>
  </table>
</div-->

<!--div class="cta--columnar--default home--max">
  <div class="primary">
    <p>Real-time Feeds cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p> 
  </div>
  <div class="secondary">
    <p><img class="" style="width: 100%" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" /></p>
    <form>
      <div class="field action">
      </div>
    </form>
  </div>
</div-->

<!--div class="cta--columnar--quad home--how font-effect-3d-float">
  <header>
    <h1 id="how">How it works</h1>
  </header>
  <ul>
    <li>
      <div class="explanation--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Join Our Network</h2>
      <p>No personal computer necessary. No learning curve.</p>
    </li>
    <li>
      <div class="explanation--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Document Your Property</h2>
      <p>Digital signatures to securely sign your assets.</p>
    </li>
    <li>
      <div class="explanation--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Digital Asset Verification</h2>
      <p>Removing the disadvantages to the unbanked world.</p>
    </li>
    <li>
      <div class="explanation--symbol-4"><span class="fa fa-star"></span></div>
      <h2>Empower Financial Dreams</h2>
      <p>Bringing financial tools to shape your economic destiny.</p>
    </li>
  </ul>
</div-->

<div class="home--saying">
  <h1 id="success">Latest Auctions</h1>
  <ul>
    <li>
      <figure>
        <div class="quote--container left">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Bidding Insights and Sentiments</h2>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
            <div class="key-features">
              <h3>Key Features:</h3>
              <ul>
                <li>Federated Hardware Secured via the Blockchain's Distributed Hash Table Architecture and Trustless concensus mechanism</li>
                <li>Transaction Record Endpoint and verification system</li>
                <li>Gameified Bidding</li>
                <li>Bidding Analysis</li>
              </ul>
            </div>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="quote--container right">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Auctioneer or Clerk</h2>
            <h3>Real world property as digital value</h3>

            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
            <div class="key-features">
              <h3>Key Features:</h3>
              <ul>
                <li>On-demand Live Video Feeds</li>
                <li>Fault-Tolerant, Fraud-Resistant Transaction Mechanism</li>
                <li>Voucher/Receipts</li>
                <li>Floor Updates</li>
                <li>Product Updates</li>
              </ul>
            </div>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="quote--container left">
          <img style="width: 50%" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Fraud Mitigation</h2>
            <h3>Systems integrated with security</h3>
            <p>Blauktion uses Distributed Hash Table Architecture that guarantees transaction fidelity and security. Every transaction is traceable and auditable. This provides clear and useful records and unparalleled security.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>


<div class="cta--columnar--quad home--numbers font-effect-3d-float">
  <h1>The numbers that matter to you</h1>
  <ul>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
  </ul>
</div>

<div class="cta--columnar--default home--select">
  <div class="primary">
    <p>Smart Bidding cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p> 
  </div>
  <div class="secondary">
    <p><img class="" style="width: 75%" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" /></p>
    <form>
      <div class="field action">
      </div>
    </form>
  </div>
</div>

<div class="home--faq">
  <h1 id="faq">Frequently asked questions</h1>
  <ul>
    <li>
      <figure>
        <div class="question--container">
          What is security?
        </div>
        <figcaption>
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What are bidmarks?
        </div>
        <figcaption>
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is smart bidding?
        </div>
        <figcaption>
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is an online auction?
        </div>
        <figcaption>
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>

<!--div id="roi" class="home--roi">
  <div class="inner">
  <h1>Bitcoin Exchange Calculator</h1>
  <div class="content">
    <div class="field">
      <label for="">
        How many bitcoins?
      </label>
      <div>
        <input
          ng-model="roiForm.loanAmount"
          placeholder="USD"
        />
      </div>
    </div>
    <div class="field">
      <label for="">
        Interest?
      </label>
      <div>
        <input
          ng-model="roiForm.loanRate"
        /> <span class="fixture percentage">%</span>
      </div>
    </div>
    <div class="field">
      <label for="">
        What is the ideal term for your loan?
      </label>
      <div>
        <input
          ng-model="roiForm.loanTerms"
        /> <span class="fixture date">months</span>
      </div>
    </div>
    <div class="field action">
      <button ng-click="scrollTo('roi--profile'); updateLoanProfile()">
        Continue
      </button>
    </div>
  </div>
  </div>
</div>

<div id="roi--profile" class="home--roi">
  <div class="inner">
  <h1>Tell us about yourself</h1>
  <div class="content">
    <div class="field">
      <label for="">
        Name
      </label>
      <div>
        <input ng-model="roiForm.lenderName" />
      </div>
    </div>
    <div class="field">
      <label for="">
        E-mail Address
      </label>
      <div>
        <input ng-model="roiForm.lenderEmail" />
      </div>
    </div>
    <div class="field">
      <label for="">
        Phone Number
      </label>
      <div>
        <input ng-model="roiForm.lenderPhone" />
      </div>
    </div>
    <div class="field action">
      <button ng-click="scrollTo('roi--finish')">
        Submit
      </button>
    </div>
  </div>
  </div>
</div>

<div id="roi--finish" class="home--roi">
  <div class="inner">
    <div class="input-section">
      <div class="primary">
        <h1>ROI Calculator</h1>
        <div class="field">
          <label for="">
            Loan Amount
          </label>
          <div>
            <input ng-model="roiForm.loanAmount" placeholder="USD" />
          </div>
        </div>
        <div class="field">
          <label for="">
            Interest Rate
          </label>
          <div>
            <input ng-model="roiForm.loanRate" /> <span class="fixture percentage">%</span>
          </div>
        </div>
        <div class="field">
          <label for="">
            Loan Terms
          </label>
          <div>
            <input ng-model="roiForm.loanTerms" /> <span class="fixture date">months</span>
          </div>
        </div>
        <div class="field subaction">
          <button ng-click="">
            Update
          </button>
        </div>
      </div>
      <div class="secondary">
        <h2>Total Return</h2>
        <div loan-total-return loan-data="loanData">
          <div id="wrapper"></div>
        </div>
        <div ng-show="!loanData">
          <p>Give us your principal, rate, and terms, and we'll do the rest!</p>
        </div>
      </div>
    </div>

    <h3><span class="fa fa-shield"></span> Become a Private Bitcoin Lender Today</h3>

    <p>Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <br />

    <div class="field field--lender__type">
      <md-input-container>
        <label>Which best describes you?</label>
        <md-select ng-model="roiForm.lenderType">
          <md-option ng-repeat="lenderType in lenderTypes" value="{{lenderType.abbrev}}">
            {{lenderType.title}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="field nationwide field--lender__nationwide">
      <label for="roi--nationwide--yes">
        Are you available to lend to investors nationwide?
      </label>
      <div class="inline">
        <md-radio-group ng-model="roiForm.nationwide">
          <md-radio-button id="roi--nationwide--yes" value="Yes" class="md-primary">Yes</md-radio-button>
          <md-radio-button id="roi--nationwide--no" value="No">No</md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div class="field action">
      <button ng-click="submitApplication(roiForm)">
        Submit Application
      </button>
    </div>
  </div>
</div-->

<leaflet 
  id="index" 
  lf-center="center" 
  width="100%" 
  height="680px"
  defaults="defaults"
  style="visibility: hidden;"
></leaflet>

<form class="simple-search">
  <div class="field">
    <label for="query"></label>
    <input
      ng-model="query"
      id="query"
      placeholder="Filter visible properties..."
    />
  </div>
  <div class="field action">
    <md-input-container>
      <label>View By</label>
      <md-select ng-model="queryBy">
        <md-option value="link">
          Name
        </md-option>
        <!--
           -<md-option value="streetAddress">
           -  Street
           -</md-option>
           -->
      </md-select>
    </md-input-container>
    <button>
      <span class="fa fa-search"></span>
    </button>
  </div>
</form>

<div class="home--search--properties">
  <h1 class="~font-effect-fire" title="Track areas that correlate with your earnings and investor performance!">Hot Deals</h1>
  <!--<p>Have you recently calculated an <abbr title="Return On Investment">ROI</abbr>? Your next calculation may be better justified by a spot check on the Reactive Market Map (who's who, who you've annotated for loans, etc.)</p>-->
  <ul class="view--list--properties">
    <li ng-repeat="company in companies | filter:queryFilter">
      <figure>
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />
        <figcaption>
          <dl>
            <!--<dt title="In days">Age</dt>-->
            <!--<dd>10</dd>-->
            <dt>Name</dt>
            <dd>{{company.link}}</dd>
            <!--<dt>Price</dt>-->
            <!--<dd>{{property.price}}</dd>-->
          </dl>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>

<!--div class="home--repair--ideas font-effect-3d-float">
  <h1 class="~font-effect-3d-float">Book Ideas</h1>
  <p>Have you recently connected with a new investor? Send them some tips!</p>
  <ul class="view--list--books">
    <li ng-repeat="book in bookIdeas" ng-if="$index < 6">
      <figure id="{{book.ASIN[0]}}">
        <h2><a href="{{book.DetailPageURL[0]}}" rel="external" target="_blank">{{book.ItemAttributes[0].Title[0]}}</a></h2>
        <figcaption>
          <span class="author">
            {{book.ItemAttributes[0].Author[0] || "No author listed."}}
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
</div-->

<div class="home--questions">
  <h1>Have more questions?</h1>
  <p>
    <a href="mailto:hello@blockauction.com">
      Contact Us
    </a>
  </p>
</div>
