/*** ==========================================================================

***/
.concierge {
  background: url(/images/blocknext-bg-3-optimized.jpg) bottom center no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 100px; }
  .concierge form {
    text-align: center; }
  .concierge input {
    width: 80%; }
  .concierge button {
    position: absolute;
    left: -9999px; }
  .concierge #messages {
    padding: 1vw;
    max-height: 100%;
    overflow: scroll;
    font-size: 1.5rem; }

/*** ==========================================================================

***/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*** ==========================================================================

***/
* {
  margin: 0;
  padding: 0; }

input, button, select, textarea {
  font-family: 'Abel', sans-serif !important;
  font-size: 1.325rem; }

button {
  font-size: 2rem; }

ul, ol {
  list-style: none; }

body {
  padding: 0;
  font-family: 'Abel', sans-serif;
  border-top: 10px #0C5975 solid;
  background: rgba(0, 0, 0, 0.8); }

.header {
  /*border-top: 10px #5c5880 solid;*/
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 9000;
  width: 100%; }

.header .inner {
  display: flex;
  padding: 2.5vh 0; }
  .header .inner a {
    cursor: pointer; }
  .header .inner .navbar-header {
    width: 25%;
    text-align: center; }
    .header .inner .navbar-header a {
      color: #fff;
      font-size: 1.5rem;
      text-decoration: none; }
    .header .inner .navbar-header img {
      position: relative;
      top: -.5rem;
      width: 4vmax;
      image-rendering: optimizequality; }
  .header .inner .collapse {
    width: 75%; }
  .header .inner .collapse .menu {
    text-align: right;
    padding-right: 15px;
    font-size: 2rem; }
  .header .inner .visible {
    display: flex !important;
    flex-direction: column; }
    .header .inner .visible li {
      display: block;
      width: 100%;
      text-align: right;
      list-style: none; }
  .header .inner .collapse ul.nav.navbar-nav#menu:target {
    display: flex;
    flex-direction: column; }
  .header .inner .collapse ul.nav.navbar-nav {
    width: 100%;
    display: none;
    font-size: 1.325rem; }
    .header .inner .collapse ul.nav.navbar-nav a {
      display: block;
      color: #fff;
      font-weight: normal;
      padding: 0 2.5vh; }
    .header .inner .collapse ul.nav.navbar-nav a {
      text-decoration: none; }

@media screen and (min-width: 768px) {
  .header .inner .collapse .menu {
    display: none; }
  .header .inner .collapse ul.nav.navbar-nav {
    display: flex; }
  .header .inner li {
    display: inline-block;
    width: 33%;
    text-align: center; }
  .header .inner .visible {
    display: flex !important;
    flex-direction: row;
    background-color: transparent; }
    .header .inner .visible li {
      display: inline-block;
      width: 33%;
      text-align: center; } }
.header,
.marketing {
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/ }

.footer {
  background-color: #D2E9A4;
  background-color: #760D64;
  background-color: #5C5880;
  background-color: #143048;
  background-color: #0B5E7E;
  color: #fff;
  text-align: center; }
  .footer ul {
    text-align: center; }
  .footer li {
    display: inline-block; }
  .footer a {
    font-size: 1.325rem;
    color: #fff;
    text-decoration: none; }
  .footer li a {
    padding: 0 1vw; }

.header {
  /*border-bottom: 3px #5c5880 solid;*/ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

.footer {
  padding: 15px 15px;
  border-top: 7px solid #e5e5e5;
  border-bottom: 10px solid #B59336; }

.container-narrow > hr {
  margin: 30px 0; }

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

.container {
  /*
   *background: rgba(0, 0, 0, .8);
   *color: #fff;
   */ }

@media screen and (min-width: 768px) {
  .container {
    padding: 0 0; }

  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0; }

  .jumbotron {
    border-bottom: 0; } }
/*** ==========================================================================

***/
button {
  border: none;
  background: none; }

button + button {
  margin-left: 1rem; }

label {
  min-width: 5rem; }

.form-group {
  margin-bottom: 1vh; }

/*** ==========================================================================

***/
.simple-search {
  overflow: hidden; }
  .simple-search button {
    position: absolute;
    top: -2rem;
    left: .5rem;
    border: none;
    background: none; }
  .simple-search .field {
    width: 100%;
    float: left; }
  .simple-search .field input {
    width: 100%;
    padding: 1vh 1vh 1vh 10vh;
    border: none;
    font-size: 1.325rem; }
  .simple-search .field.action {
    float: left;
    position: relative; }
  .simple-search md-input-container {
    position: absolute;
    right: .5rem;
    top: -2.75em;
    z-index: 9000;
    font-size: 1.325rem; }
  .simple-search .field.action select {
    /*top: -2em; position: absolute; right: .5rem; z-index: 9000; */ }

/*** ==========================================================================

***/
.home--repair--ideas {
  padding: 5vw 15px 7vw;
  /*
   *background: url(/images/blocknext-bg-2-optimized.jpg) 0 top no-repeat;
   *background-size: cover;
   */
  background-color: #A79A92;
  font-size: 1.325rem; }
  .home--repair--ideas h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #fff; }
  .home--repair--ideas p {
    max-width: 75%;
    text-align: center;
    font-size: 1.325rem;
    margin: 0 auto 3vh;
    /*
     *border-top: 5px #C2AEA4 solid;
     *border-bottom: 5px #C2AEA4 solid;
     */ }
  .home--repair--ideas a {
    color: #fff; }

.view--list--books {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: 1.325rem;
  color: #fff; }
  .view--list--books h2 {
    margin: 0 10px 0 0; }
  .view--list--books h2 {
    min-height: 15vh; }
  .view--list--books h2 {
    font-size: 1.75rem;
    color: #111; }
  .view--list--books figcaption {
    border-bottom: 5px solid #B59336; }
  .view--list--books a {
    color: #fff;
    text-decoration: none; }
  .view--list--books li {
    width: 31%;
    min-width: 31%;
    padding: 1%; }
  .view--list--books li:nth-child(1n+1) {
    padding-left: 0;
    width: 32%;
    min-width: 32%; }
  .view--list--books li:nth-child(3n) {
    padding-right: 0;
    width: 32%;
    min-width: 32%; }

/*** ==========================================================================

***/
.home--search--properties {
  position: relative;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 3vh; }
  .home--search--properties > p {
    font-size: 1.325rem;
    text-align: center;
    margin-bottom: 1vw; }
  .home--search--properties h1 {
    padding: 0 15px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem; }
  .home--search--properties figcaption {
    font-size: 1.325rem; }
  .home--search--properties dl {
    justify-content: space-around;
    display: flex; }
  .home--search--properties figcaption p {
    padding-top: .5rem;
    margin-top: 1rem;
    border-top: 5px #9A6B08 solid; }
  .home--search--properties dd {
    padding: 0 5px;
    margin: 0 5px;
    color: #fff;
    background-color: #76B923; }

.view--list--properties {
  display: flex;
  overflow: scroll; }
  .view--list--properties img {
    width: 100%; }
  .view--list--properties li {
    min-width: 50%;
    max-width: 50%; }
  .view--list--properties figcaption {
    padding: 3vh 15px; }

/*** ==========================================================================

***/
.login--form label {
  float: left;
  width: 100px; }

/*** ==========================================================================

***/
.home--masthead {
  text-align: center;
  padding: 15vw 0 20vw;
  font-size: 2rem;
  /*background: url(/images/bg-1.jpg) bottom center no-repeat;*/
  /*background-size: cover;*/
  background-color: #A79A92;
  color: #fff; }
  .home--masthead .inner {
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    top: -5vmin; }

/*** ==========================================================================

***/
.home--learn {
  z-index: 10;
  position: relative;
  background-color: #fff;
  padding-top: 3vw;
  padding-bottom: 3vw; }
  .home--learn .primary {
    text-align: center;
    color: #111;
    font-size: 1.325rem; }
    .home--learn .primary iframe {
      min-width: 75%;
      min-height: 25vw;
      max-width: 100%; }
    .home--learn .primary figcaption {
      text-align: center;
      padding: 0 2vw 0 3vw; }
  .home--learn .action {
    text-align: center;
    margin: 1rem 0 0 0; }
  .home--learn .secondary .inner {
    margin: 0 auto;
    position: relative;
    background-color: #1E9277;
    background-color: #5C5880;
    background-color: #5E5783;
    color: #fff;
    padding: 4vw;
    font-size: 1.25rem; }

@media screen and (min-width: 768px) {
  .secondary .inner {
    max-width: 50%;
    padding: 3vw; } }
/*** ==========================================================================

***/
.cta--columnar--default {
  display: flex;
  flex-direction: column; }
  .cta--columnar--default .primary,
  .cta--columnar--default .secondary {
    width: 100%; }

@media screen and (min-width: 768px) {
  .cta--columnar--default {
    flex-direction: row; }
    .cta--columnar--default .primary,
    .cta--columnar--default .secondary {
      width: 50%; } }
.cta--columnar--default.home--select .secondary {
  width: 100%;
  right: 0; }

@media screen and (min-width: 768px) {
  .cta--columnar--default.home--select .secondary {
    width: 45%;
    right: 5vh; } }
.cta--columnar--triple {
  padding: 5vw 0; }
  .cta--columnar--triple ul {
    display: flex; }
  .cta--columnar--triple .fa {
    font-size: 3rem; }
  .cta--columnar--triple li {
    text-align: center;
    width: 33%; }

.cta--columnar--quad {
  padding: 0 0 5vw 0; }
  .cta--columnar--quad ul {
    display: flex; }
  .cta--columnar--quad .fa {
    font-size: 3rem; }
  .cta--columnar--quad li {
    text-align: center;
    width: 25%; }

/*** ==========================================================================

***/
.home--why {
  background-color: #fff;
  position: relative;
  z-index: 10;
  color: #111;
  font-size: 1.725rem;
  text-align: center;
  padding-bottom: 7vw; }
  .home--why h1 {
    padding: 2.5vw 0 0;
    margin-bottom: 1.5rem; }
  .home--why p {
    max-width: 65%;
    margin: 0 auto;
    text-align: left; }
  .home--why p {
    margin-bottom: 1.325rem; }

/*** ==========================================================================

***/
.home--tale {
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding-bottom: 5vw; }
  .home--tale h2 {
    font-size: 2.325rem;
    text-align: center; }
  .home--tale h3 {
    font-size: 1.2rem;
    color: #ccc;
    text-align: center; }
  .home--tale table {
    max-width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 2rem; }
  .home--tale .item-header {
    text-align: right;
    min-width: 20vw;
    border-right: 3px #ccc solid; }
  .home--tale .person-header {
    text-align: left; }
  .home--tale tbody tr:first-child td {
    border-top: 3px #ccc solid; }
  .home--tale table tr:nth-child(even) {
    background-color: #E8D087; }
  .home--tale table td, .home--tale table th {
    padding: 1vw; }
  .home--tale .wide {
    min-width: 25vw; }

/*** ==========================================================================

***/
.home--benefits {
  color: #fff;
  border-top: 5px #f9f9f9 solid;
  /*box-shadow: 0px 0px 0px 4px #006B96;*/
  /*
   *border: 4px solid #f9f9f9;
   *border-top-left-radius: 5px;
   *border-bottom-right-radius: 5px;
   */
  min-height: 100px;
  padding: 25vw 0 10vh 0;
  /*
   *background: url(/images/blocknext-bg-1-optimized.jpg) bottom center no-repeat;
   *background-size: cover;
   */
  background-color: #A79A92;
  font-size: 1.325rem; }
  .home--benefits li {
    margin-left: 1rem;
    margin-right: 1rem; }

/*** ==========================================================================

***/
.home--select,
.home--max {
  padding: 5vw 0;
  z-index: 10;
  position: relative;
  background-color: #5C5880;
  background-color: #5E5783; }
  .home--select .primary,
  .home--max .primary {
    width: 80%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2rem;
    color: #fff; }
  .home--select .secondary,
  .home--max .secondary {
    position: relative;
    width: 100%;
    text-align: center;
    /*top: 5vh;*/ }

@media screen and (min-width: 768px) {
  .home--select .primary,
  .home--max .primary {
    width: 50%; }

  .home--select .secondary,
  .home--max .secondary {
    right: 20vh;
    width: 35%; } }
/*** ==========================================================================

***/
.secondary button {
  background-color: #57A992;
  background-color: #990033;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.25vw 2vw;
  text-transform: uppercase; }

/*** ==========================================================================

***/
.home--how {
  z-index: 1;
  position: relative;
  color: #fff;
  font-size: 1.325rem;
  padding-bottom: 0 !important;
  background-color: #A79A92; }
  .home--how header {
    color: #fff;
    position: relative;
    /*min-height: 10vh;*/ }
    .home--how header h1 {
      padding-top: 4rem;
      position: relative;
      z-index: 2;
      text-align: center;
      margin-bottom: 1.5rem; }
    .home--how header:before {
      position: absolute;
      z-index: -1;
      display: block;
      content: ' ';
      width: 100%;
      height: 100vw;
      /*
       *background: url(/images/blocknext-bg-2-optimized.jpg) bottom center no-repeat;
       *background-size: cover;
       */ }
  .home--how ul {
    /*min-height: 100px; */
    width: 100%;
    /*position: absolute; */
    padding-top: 10vmin;
    padding-bottom: 20vmin;
    z-index: 2; }
  .home--how h2 {
    text-align: center;
    margin-bottom: 1rem; }

@media screen and (min-width: 768px) {
  .home--how {
    /*padding-bottom: 30vmax;*/ } }
/*** ==========================================================================

***/
.home--numbers {
  padding: 10vw 0;
  background-color: #5FD7AA;
  background-color: #795F5D;
  color: #fff;
  /*
   *background: url(/images/blocknext-bg-5-optimized.jpg) bottom center no-repeat;
   *background-size: cover;
   */ }
  .home--numbers h1 {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 1.5rem; }
  .home--numbers .stats--symbol-1 {
    color: #fff;
    font-size: 2rem; }
  .home--numbers p {
    font-size: 1.325rem;
    color: #666;
    color: #fff; }

/*** ==========================================================================

***/
.home--saying {
  z-index: 10;
  position: relative;
  background-color: #fff;
  line-height: 0; }
  .home--saying h1 {
    padding: 8vh;
    background-color: #478660;
    background-color: #54336D;
    background-color: #5C5880;
    background-color: #5E5783;
    text-align: center;
    color: #fff; }
  .home--saying ul {
    display: flex;
    flex-direction: column; }
  .home--saying li {
    width: 100%; }
  .home--saying li figcaption {
    line-height: 1.325;
    width: 50%;
    float: right; }
  .home--saying li figcaption {
    font-size: 1.325rem;
    width: 100%; }
    .home--saying li figcaption blockquote {
      /*div { text-align: right; color: #ccc; font-style: italic; }*/
      padding: 3vw 6vw; }
      .home--saying li figcaption blockquote p {
        margin-bottom: 1rem; }
  .home--saying .quote--container {
    width: 100%;
    text-align: center;
    padding: 10vw 0; }
    .home--saying .quote--container img {
      object-fit: contain;
      width: 100%; }
  .home--saying .quote--container {
    float: left; }
  .home--saying .right {
    float: right; }
  .home--saying .quote--container,
  .home--saying .right {
    clear: both; }

@media screen and (min-width: 768px) {
  .home--saying .quote--container {
    width: 50%; }
  .home--saying li figcaption {
    width: 50%;
    font-size: 2rem; }
  .home--saying .quote--container,
  .home--saying .right {
    clear: none; } }
/*** ==========================================================================

***/
.home--faq {
  font-size: 1.325rem;
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding: 5vw 3vw; }
  .home--faq h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .home--faq ul {
    display: flex;
    flex-flow: row wrap; }
  .home--faq li {
    width: 100%; }
  .home--faq figure {
    padding: 1vw;
    font-size: 1.5rem; }
  .home--faq .question--container {
    margin-bottom: .5rem;
    font-size: 2rem; }
  .home--faq .figcaption {
    font-size: 2rem; }

@media screen and (min-width: 768px) {
  .home--faq ul {
    display: flex;
    flex-flow: row wrap; }
  .home--faq li {
    width: 50%; } }
/*** ==========================================================================

***/
.home--questions {
  padding: 7.5vw 0;
  /*
   *background: url(/images/blocknext-bg-2-optimized.jpg) 0 bottom no-repeat;
   *background-size: cover;
   */ }
  .home--questions h1 {
    color: #111;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; }
  .home--questions p {
    text-align: center; }
  .home--questions a {
    background-color: #57A992;
    background-color: #990033;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: .5vw 1vw; }

/*** ==========================================================================

***/
.home--roi {
  background-color: #fff;
  position: relative;
  z-index: 10;
  background-color: #52857F;
  background-color: #54336D;
  background-color: #5C5880;
  background-color: #5E5783;
  color: #fff;
  text-align: center;
  padding: 2vw 0 5vw 0;
  font-size: 1.5rem; }
  .home--roi #roi--finish .secondary {
    padding: 0 2vw; }
  .home--roi select, .home--roi md-radio-button.md-default-theme .md-off, .home--roi md-radio-button .md-off {
    color: #fff;
    border-color: #fff; }
  .home--roi .md-select-value {
    color: #fff; }
  .home--roi md-input-container label {
    color: #fff !important; }
  .home--roi .md-input-focused .md-text {
    color: #fff; }
  .home--roi .md-select-value.md-select-placeholder,
  .home--roi .md-select-placeholder {
    border-color: #fff;
    color: #fff; }
  .home--roi .inner {
    /*background: url(/images/blocknext-bg-1.jpg) bottom center no-repeat;*/
    /*background-size: cover;*/
    /*background-color: #990033;*/ }
  .home--roi select {
    width: 50%;
    margin: 0 auto; }
  .home--roi .field--lender__type {
    max-width: 50%;
    margin: 0 auto; }
    .home--roi .field--lender__type select {
      color: #fff; }
  .home--roi h3 {
    margin-top: 1.5rem; }
  .home--roi .inline {
    text-align: center;
    display: flex; }
    .home--roi .inline label {
      width: 50%; }
    .home--roi .inline md-radio-button {
      display: inline;
      margin: 0 1rem; }
    .home--roi .inline md-radio-group {
      margin: 0 auto; }
      .home--roi .inline md-radio-group .md-container {
        margin-top: -.25em; }
  .home--roi .input-section {
    display: flex; }
  .home--roi .input-section .primary {
    width: 50%; }
  .home--roi .input-section .secondary {
    width: 50%; }
  .home--roi button {
    background-color: #FCEBAF;
    background-color: #483260;
    color: #fff;
    font-size: 1.5rem;
    display: inline;
    max-width: 50%;
    padding: 1.5rem 2.325rem;
    margin: 0 auto; }
  .home--roi h1 {
    margin: 1vw 0; }
  .home--roi .inner {
    background-color: #5C5880;
    background-color: #A0C0D0;
    background: rgba(0, 0, 0, 0.45);
    margin: 0 auto;
    max-width: 60%;
    padding: 2vw 0; }
  .home--roi .field {
    display: flex;
    flex-direction: column; }
    .home--roi .field div {
      margin-bottom: 1rem; }
  .home--roi input {
    padding: 0 .5rem;
    font-size: 1.5rem; }
  .home--roi label {
    display: block;
    margin-bottom: 1rem; }
  .home--roi .fixture {
    position: absolute;
    margin-left: .5rem; }

/*** ==========================================================================

***/
g > g.arc {
  stroke: white;
  stroke-width: 3; }

g > text {
  stroke: black;
  stroke-width: 2; }

.angular-leaflet-map {
  z-index: 4 !important; }

.image--alignment--left {
  float: left; }

.key-features {
  font-size: 1.5rem; }
  .key-features ul {
    list-style: disc; }
  .key-features li {
    margin-bottom: 1rem; }

.page--login {
  color: #fff;
  min-height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/images/blocknext-bg-3-optimized.jpg) bottom center no-repeat;
  background-size: cover; }
  .page--login label {
    position: absolute;
    left: -9999px; }
  .page--login h2 {
    position: absolute;
    left: -9999px; }
  .page--login form {
    position: relative;
    top: 0; }

/*# sourceMappingURL=main.css.map */
